openapi: 3.0.1
info:
  title: Visma Fivaldi Customer API
  description: API for 3rd party customers of Visma Fivaldi
  version: 2.11.0
  termsOfService: https://www.visma.com/trust-centre/smb/service-information/terms-of-service/
externalDocs:
  description: General information, how to authenticate requests, change log
  url: https://ohjeet.visma.fi/articles/#!visma-fivaldi/visma-fivaldi-api
servers:
- url: https://api.fivaldi.net/customer/api
tags:
- name: Customer
  description: Fivaldi customers
- name: Companies
  description: Fivaldi companies
- name: Purchase invoices
- name: Chart of accounts and dimensions
- name: Bookkeeping
- name: Archive
- name: Sales orders
  description: Fivaldi Sales orders
- name: Customer register
  description: Customer register of Fivaldi company
- name: Product register
  description: Product register of Fivaldi company
- name: Estate person
  description: Fivaldi estate person information
- name: Estate apartment
  description: Fivaldi estate apartment information
- name: Estate bond
  description: Fivaldi estate bond information
- name: Estate meter
  description: Fivaldi estate meter information
- name: Estate preferences
  description: Fivaldi estate preferences information
- name: Estate repair
  description: Fivaldi estate repair information
paths:
  /customers:
    get:
      tags:
      - Customer
      summary: Get a list of Fivaldi customers
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customer'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        429:
          $ref: '#/components/responses/RateLimit'
  /companies:
    get:
      tags:
      - Companies
      summary: Get all companies, search by business id or Fivaldi customer id
      parameters:
      - name: businessId
        in: query
        description: Search by business id (Y-tunnus)
        schema:
          type: string
      - name: customerId
        in: query
        description: Search by Fivaldi customer id
        schema:
          type: string
      - name: fields
        in: query
        description: Filter fields of the response objects, only ones provided will
          be included
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        429:
          $ref: '#/components/responses/RateLimit'
  /companies/{cuid}/purchases/invoices:
    get:
      tags:
      - Purchase invoices
      summary: Get all purchase invoices
      parameters:
      - name: cuid
        in: path
        description: Fivaldi company id
        required: true
        schema:
          type: string
      - name: lang
        in: query
        description: Language code for chain and step descriptions, defaults to FIN
        required: false
        schema:
          type: string
          enum:
          - FIN
          - SWE
          - ENG
      - name: addedManually
        in: query
        description: Filter invoices by how they have been brought to system. True = manually added, false = e-invoices. If no parameter is provided then returns all.
        required: false
        schema:
          type: boolean
      - name: invoiceStatus
        in: query
        description: Filter invoices by invoice status, S = entering, K = handling, H = accepted
        required: false
        schema:
          type: string
          enum:
          - S
          - K
          - H
      - name: createTimeAfter
        in: query
        description: Filter invoices by create time, dd.mm.yyyy%20hh:mm:ss
        required: false
        schema:
          type: string
          example: 01.12.2019%2000:00:00
      - name: createTimeBefore
        in: query
        description: Filter invoices by create time, dd.mm.yyyy%20hh:mm:ss
        required: false
        schema:
          type: string
          example: 01.12.2021%2000:00:00
      - name: changeTimeAfter
        in: query
        description: Filter invoices by change time, dd.mm.yyyy%20hh:mm:ss
        required: false
        schema:
          type: string
          example: 01.12.2019%2000:00:00
      - name: changeTimeBefore
        in: query
        description: Filter invoices by change time, dd.mm.yyyy%20hh:mm:ss
        required: false
        schema:
          type: string
          example: 01.12.2021%2000:00:00
      - name: fetchAllChangeTimes
        in: query
        description: Whether to include all invoice related changes in change time filter.
        required: false
        schema:
          type: boolean
      - name: includeRowChangeTimes
        in: query
        description: Whether to include row change times in change time filter. This parameter is unnecessary if fetchAllChangeTimes is used.
        required: false
        schema:
          type: boolean
      - name: includeAttachments
        in: query
        description: Include attachment ids related to invoices, increases query time
        schema:
          type: boolean
      - name: fields
        in: query
        description: Filter fields of the response objects, only ones provided will
          be included
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PurchaseInvoice'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        429:
          $ref: '#/components/responses/RateLimit'
    post:
      tags:
        - Purchase invoices
      summary: Create a new purchase invoice
      description: Post endpoint to import purchase invoices to Fivaldi purchase invoice circulation. Imported invoices get new/no approval chain defined/"syötössä" -status.
      parameters:
        - name: cuid
          in: path
          description: Id of Fivaldi company
          required: true
          schema:
            type: string
      requestBody:
        description: Purchase invoice object that is imported. If supplierId is provided, supplier properties(names, addresses, paymentPriority, refNumber, bankMessageType) will get autofilled, if not also explicitly provided. If supplierId, workSiteKey, paymentTermId or currencyId(other than EUR) are provided, corresponding id must be already created in Fivaldi. If bookkeepingAccount is provided it must be found and be activated for purchase in Fivaldi. BankMessageType (provided with query or based on supplier) determines if bankRefNo is required(1) or bankMessage is required (2). If vatType is provided it must correspond to company settings.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseInvoicePostPutPatch'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseInvoiceResponseDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/Conflict'
        429:
          $ref: '#/components/responses/RateLimit'
  /companies/{cuid}/purchases/invoices/{invoiceId}:
    get:
      tags:
      - Purchase invoices
      summary: Get a purchase invoice
      parameters:
      - name: cuid
        in: path
        description: Id of Fivaldi company
        required: true
        schema:
          type: string
      - name: invoiceId
        in: path
        description: Id of purchase invoice
        required: true
        schema:
          type: integer
      - name: lang
        in: query
        description: Language code for chain and step descriptions, defaults to FIN
        required: false
        schema:
          type: string
          enum:
          - FIN
          - SWE
          - ENG
      - name: includeAttachments
        in: query
        description: Include attachment ids related to this invoice, increases query time
        schema:
          type: boolean
      - name: fields
        in: query
        description: Filter fields of the response objects, only ones provided will
          be included
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseInvoice'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        429:
          $ref: '#/components/responses/RateLimit'
    put:
      tags:
        - Purchase invoices
      summary: Update a purchase invoice
      description: Update all the information in a purchase invoice. Missing properties or null values will delete previous data.  If supplierId is provided, supplier properties(names, addresses, paymentPriority, refNumber, bankMessageType) will get autofilled, if not also explicitly provided. If supplierId, workSiteKey, paymentTermId or currencyId(other than EUR) are provided, corresponding id must be already created in Fivaldi. If bookkeepingAccount is provided it must be found and be activated for purchase in Fivaldi. BankMessageType (provided with query or based on supplier) determines if bankRefNo is required(1) or bankMessage is required (2). If vatType is provided it must correspond to company settings.
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: invoiceId
          in: path
          description: Purchase invoice id
          required: true
          schema:
            type: integer
      requestBody:
        description: Purchase invoice object that needs to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseInvoicePostPutPatch'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseInvoiceResponseDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/Conflict'
        429:
          $ref: '#/components/responses/RateLimit'
    patch:
      tags:
        - Purchase invoices
      summary: Update a purchase invoice
      description: Update some of the properties in a purchase invoice. Missing properties or null values will have no effect. Note however, that if supplierId is provided, supplier names and addresses will get overridden, if not also explicitly provided. If supplierId, workSiteKey, paymentTermId or currencyId(other than EUR) are provided, corresponding id must be already created in Fivaldi. If bookkeepingAccount is provided it must be found and be activated for purchase in Fivaldi. BankMessageType (provided with query or based on supplier) determines if bankRefNo is required(1) or bankMessage is required (2). If vatType is provided it must correspond to company settings.
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: invoiceId
          in: path
          description: Purchase invoice id
          required: true
          schema:
            type: integer
      requestBody:
        description: Properties of the purchase invoice object that need to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseInvoicePostPutPatch'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseInvoiceResponseDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/Conflict'
        429:
          $ref: '#/components/responses/RateLimit'
  /companies/{cuid}/purchases/invoices/{invoiceId}/approve:
    post:
      tags:
        - Purchase invoices
      summary: Approve current step of a purchase invoice
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: invoiceId
          in: path
          description: Purchase invoice id
          required: true
          schema:
            type: integer
        - name: stepId
          in: query
          description: Current step id of a purchase invoice
          required: true
          schema:
            type: integer
        - name: lang
          in: query
          description: Language code for messages, defaults to FIN
          required: false
          schema:
            type: string
            enum:
              - FIN
      responses:
        204:
          description: No content
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/Conflict'
        429:
          $ref: '#/components/responses/RateLimit'
  /companies/{cuid}/purchases/invoices/{invoiceId}/attachment:
    post:
      tags:
      - Purchase invoices
      summary: postPurchaseInvoiceAttachment
      description: Invoice must already be in Fivaldi before sending attachments. Attachments can only be attached to invoices that have new/no approval chain defined/"syötössä" -status. Maximum number of attachments per invoice is 10. Attachments get new filename in Fivaldi according to what is defined in company` s archive settings (for example [documenttype]-[invoiceId]-[supplierId]). If supplierId is defined as a required field in company's archive settings, the related invoice must have supplierId set before sending attachments.
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: invoiceId
          in: path
          description: Purchase invoice id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  description: Allowed file types are pdf, jpg, jpeg, jpe, png, gif, tif, doc, xls, xsl, txt, xml, htm, html, csv, docx, xlsx. Maximum filesize is 5 MB. Filename can contain following characters A-Z, 0-9, - and _.
                  type: string
                  format: binary
                attachmentOrderNo: 
                  description: Decides the order in which the attachments are shown in UI. If not provided the attachment gets the last number. 
                  type: integer
              required:
                - file
      responses:
        200:
          description: OK
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ApiError'
        201:
          description: Created
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        429:
          $ref: '#/components/responses/RateLimit'
  /companies/{cuid}/purchases/invoices/{invoiceId}/comments:
    get:
      tags:
      - Purchase invoices
      summary: Get the comments related to a purchase invoice
      parameters:
      - name: cuid
        in: path
        description: Id of Fivaldi company
        required: true
        schema:
          type: integer
      - name: invoiceId
        in: path
        description: Id of purchase invoice
        required: true
        schema:
          type: integer
      - name: fields
        in: query
        description: Filter fields of the response objects, only ones provided will
          be included
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseInvoiceComments'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        429:
          $ref: '#/components/responses/RateLimit'
    post:
      tags:
        - Purchase invoices
      summary: Add a comment to a purchase invoice
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: integer
        - name: invoiceId
          in: path
          description: Purchase invoice id
          required: true
          schema:
            type: integer
      requestBody:
        description: Comment to be added
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Comment'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/Conflict'
        429:
          $ref: '#/components/responses/RateLimit'
  /companies/{cuid}/purchases/invoices/{invoiceId}/rows:
    get:
      tags:
      - Purchase invoices
      summary: Get all rows of a purchase invoice
      parameters:
      - name: cuid
        in: path
        description: Fivaldi company id
        required: true
        schema:
          type: integer
      - name: invoiceId
        in: path
        description: Purchase invoice id
        required: true
        schema:
          type: integer
      - name: fields
        in: query
        description: Filter fields of the response objects, only ones provided will
          be included
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PurchaseInvoiceRow'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        429:
          $ref: '#/components/responses/RateLimit'
    post:
      tags:
      - Purchase invoices
      summary: Add a purchase invoice row
      parameters:
      - name: cuid
        in: path
        description: Fivaldi company id
        required: true
        schema:
          type: integer
      - name: invoiceId
        in: path
        description: Purchase invoice id
        required: true
        schema:
          type: integer
      requestBody:
        description: Purchase invoice row object that needs to be added
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseInvoiceRowPost'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseInvoiceRow'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/Conflict'
        429:
          $ref: '#/components/responses/RateLimit'
  /companies/{cuid}/purchases/invoices/{invoiceId}/rows/{rowId}:
    get:
      tags:
      - Purchase invoices
      summary: Get a purchase invoice row
      parameters:
      - name: cuid
        in: path
        description: Fivaldi company id
        required: true
        schema:
          type: integer
      - name: invoiceId
        in: path
        description: Purchase invoice id
        required: true
        schema:
          type: integer
      - name: rowId
        in: path
        description: Purchase invoice row id
        required: true
        schema:
          type: integer
      - name: fields
        in: query
        description: Filter fields of the response objects, only ones provided will
          be included
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseInvoiceRow'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        429:
          $ref: '#/components/responses/RateLimit'
    put:
      tags:
      - Purchase invoices
      summary: Update a purchase invoice row
      description: Update all the information in a purchase invoice row. Missing properties or null values will delete previous data. Cuid, invoiceId and rowId provided in the parameters take precedence over the corresponding object properties in case of conflict.
      parameters:
      - name: cuid
        in: path
        description: Fivaldi company id
        required: true
        schema:
          type: integer
      - name: invoiceId
        in: path
        description: Purchase invoice id
        required: true
        schema:
          type: integer
      - name: rowId
        in: path
        description: Purchase invoice row id
        required: true
        schema:
          type: integer
      requestBody:
        description: Purchase invoice row object that needs to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseInvoiceRowPut'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseInvoiceRow'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/Conflict'
        429:
          $ref: '#/components/responses/RateLimit'
    patch:
      tags:
      - Purchase invoices
      summary: Update a purchase invoice row
      description: Update some of the properties in a purchase invoice row. Missing properties or null values will have no effect. Cuid, invoiceId and rowId provided in the parameters take precedence over the corresponding object properties in case of conflict.
      parameters:
      - name: cuid
        in: path
        description: Fivaldi company id
        required: true
        schema:
          type: integer
      - name: invoiceId
        in: path
        description: Purchase invoice id
        required: true
        schema:
          type: integer
      - name: rowId
        in: path
        description: Purchase invoice row id
        required: true
        schema:
          type: integer
      requestBody:
        description: Properties of the purchase invoice row object that need to be updated
        required: true
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/PurchaseInvoiceRowPut'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseInvoiceRow'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/Conflict'
        429:
          $ref: '#/components/responses/RateLimit'
    delete:
      tags:
      - Purchase invoices
      summary: Delete a purchase invoice row
      parameters:
      - name: cuid
        in: path
        description: Fivaldi company id
        required: true
        schema:
          type: integer
      - name: invoiceId
        in: path
        description: Purchase invoice id
        required: true
        schema:
          type: integer
      - name: rowId
        in: path
        description: Purchase invoice row id
        required: true
        schema:
          type: integer
      responses:
        204:
          description: No content, invoice row deleted successfully
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        409:
          $ref: '#/components/responses/Conflict'
        429:
          $ref: '#/components/responses/RateLimit'
  /companies/{cuid}/purchases/invoices/{invoiceId}/rows/accrualData:
    post:
      tags:
        - Purchase invoices
      summary: Add a purchase invoice row accrual data
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: integer
        - name: invoiceId
          in: path
          description: Purchase invoice id
          required: true
          schema:
            type: integer
      requestBody:
        description: Accrual data object that needs to be added
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccrualDataPost'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseInvoiceRow'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/Conflict'
        429:
          $ref: '#/components/responses/RateLimit'
  /companies/{cuid}/purchases/invoices/{invoiceId}/rows/{rowId}/accrualData/{accrualNumber}:
    put:
      tags:
        - Purchase invoices
      summary: Update a purchase invoice row accrual data
      description: Update all the information in a purchase invoice row accrual data. Missing properties or null values will delete previous data. Cuid, invoiceId, rowId and accrualNumber provided in the parameters take precedence over the corresponding object properties in case of conflict.
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: integer
        - name: invoiceId
          in: path
          description: Purchase invoice id
          required: true
          schema:
            type: integer
        - name: rowId
          in: path
          description: Purchase invoice row id
          required: true
          schema:
            type: integer
        - name: accrualNumber
          in: path
          description: Purchase invoice row accrual data number
          required: true
          schema:
            type: integer
      requestBody:
        description: Accrual data object that needs to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccrualDataPut'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseInvoiceRow'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/Conflict'
        429:
          $ref: '#/components/responses/RateLimit'
    patch:
      tags:
        - Purchase invoices
      summary: Update a purchase invoice row accrual data
      description: Update some of the properties in a purchase invoice row accrual data. Missing properties or null values will have no effect. Cuid, invoiceId, rowId and accrualNumber provided in the parameters take precedence over the corresponding object properties in case of conflict.
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: integer
        - name: invoiceId
          in: path
          description: Purchase invoice id
          required: true
          schema:
            type: integer
        - name: rowId
          in: path
          description: Purchase invoice row id
          required: true
          schema:
            type: integer
        - name: accrualNumber
          in: path
          description: Purchase invoice row accrual data number
          required: true
          schema:
            type: integer
      requestBody:
        description: Properties of the accrual data object that need to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccrualDataPut'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseInvoiceRow'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/Conflict'
        429:
          $ref: '#/components/responses/RateLimit'
    delete:
      tags:
        - Purchase invoices
      summary: Delete a purchase invoice row accrual data
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: integer
        - name: invoiceId
          in: path
          description: Purchase invoice id
          required: true
          schema:
            type: integer
        - name: rowId
          in: path
          description: Purchase invoice row id
          required: true
          schema:
            type: integer
        - name: accrualNumber
          in: path
          description: Purchase invoice row accrual data number
          required: true
          schema:
            type: integer
      responses:
        204:
          description: No content, invoice row deleted successfully
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        409:
          $ref: '#/components/responses/Conflict'
        429:
          $ref: '#/components/responses/RateLimit'
  /companies/{cuid}/bookkeeping/vouchers/attachments:
    get:
      tags:
        - Bookkeeping
      summary: Get a list of voucher attachments for specific company
      parameters:
      - name: cuid
        in: path
        description: Fivaldi company id
        required: true
        schema:
          type: string
      - name: voucherNumber
        in: query
        description: Voucher number
        required: true
        schema:
          type: string
      - name: voucherType
        in: query
        description: Voucher type
        required: true
        schema:
          type: number
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoucherAttachmentResponse'
        429:
          $ref: '#/components/responses/RateLimit'
  
  /companies/{cuid}/bookkeeping/vouchers/addAttachments:
    post:
      tags:
        - Bookkeeping
      summary: Add an attachment to a voucher in Fivaldi bookkeeping
      parameters:
      - name: cuid
        in: path
        description: Fivaldi company id
        required: true
        schema:
          type: string
      - name: journalNo
        in: query
        description: Journal number
        required: true
        schema:
          type: string
      - name: voucherType
        in: query
        description: Voucher type
        required: true
        schema:
          type: number
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  description: Allowed file types are "doc", "docx", "xls", "xlsx", "ppt", "pptx", "odt", "ods", "odp", "txt", "rtf", "jpg", "jpeg", "jpe", "gif", "png", "pdf". Maximum filesize is 100 MB. Filename can contain following characters "A-Z, a-z, 0-9" and one "."
                  type: string
                  format: binary
              required:
                - file
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchiveAppDocumentPutResponse'
        429:
          $ref: '#/components/responses/RateLimit'
          
          
  /companies/{cuid}/bookkeeping/voucherTypes:
    get:
      tags:
        - Bookkeeping
      summary: Get a list of voucher types for specific company
      parameters:
      - name: cuid
        in: path
        description: Fivaldi company id
        required: true
        schema:
          type: string
      - name: usage
        in: query
        description: Fetches voucher types with given usage
        required: false
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VoucherType'
        429:
          $ref: '#/components/responses/RateLimit'
  /companies/{cuid}/bookkeeping/vatCodes:
    get:
      tags:
        - Bookkeeping
      summary: Get a list of vat codes and vat categories defined in Fivaldi.
      parameters:
      - name: cuid
        in: path
        description: Fivaldi company id
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VatCodeResponse'
        429:
          $ref: '#/components/responses/RateLimit'
 
  /companies/{cuid}/bookkeeping/fiscalYears:
    get:
      tags:
        - Bookkeeping
      summary: Get a list of fiscal years for specific company
      parameters:
      - name: cuid
        in: path
        description: Fivaldi company id
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FiscalYear'
        429:
          $ref: '#/components/responses/RateLimit'
  /companies/{cuid}/bookkeeping/monthStatus:
    get:
      tags:
        - Bookkeeping
      summary: Get a list of bookkeeping month status.
      parameters:
      - name: cuid
        in: path
        description: Fivaldi company id
        required: true
        schema:
          type: string
      - name: startMonth
        in: query
        description: Bookkeeping start month in yyyymm format.
        required: true
        schema:
          type: number
      - name: endMonth
        in: query
        description: Bookkeeping end month in yyyymm format.
        required: true
        schema:
          type: number
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BookkeepingMonth'
        429:
          $ref: '#/components/responses/RateLimit'
  /companies/{cuid}/bookkeeping/vouchers:
    get:
      tags:
        - Bookkeeping
      summary: Get a list of vouchers.
      parameters:
      - name: cuid
        in: path
        description: Fivaldi company id
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        description: fetches vouchers after this date.
        required: true
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        description: fetches voucher before this date.
        required: true
        schema:
          type: string
          format: date
      - name: minAccount
        in: query
        description: fetches voucher entries having account number greater or same than minAccount.
        required: false
        schema:
          type: number
      - name: maxAccount
        in: query
        description: fetches voucher entries having account number smaller or same than maxAccount.
        required: false
        schema:
          type: number
      - name: dimension1
        in: query
        description: fetches voucher entries having provided dimension1.
        required: false
        schema:
          type: string
      - name: dimension2
        in: query
        description: fetches voucher entries having provided dimension2.
        required: false
        schema:
          type: string
      - name: dimension3
        in: query
        description: fetches voucher entries having provided dimension3.
        required: false
        schema:
          type: string
      - name: dimension4
        in: query
        description: fetches voucher entries having provided dimension4.
        required: false
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FetchVoucherResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        429:
          $ref: '#/components/responses/RateLimit'
  
    post:
      tags:
        - Bookkeeping
      summary: Imports one voucher into Fivaldi bookkeeping.
      parameters:
      - name: cuid
        in: path
        description: Fivaldi company id
        required: true
        schema:
          type: string
      requestBody:
        description: Voucher to be imported. Add original voucher number to the description field if you want to be able to see the original voucher number from Fivaldi bookkeeping.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoucherImportRequest'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoucherImportResponse'
        400:
          $ref: '#/components/responses/BadRequestWithCode'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/Conflict'
        429:
          $ref: '#/components/responses/RateLimit'
  
  /companies/{cuid}/bookkeeping/vouchers/{voucherNumber}:
    get:
      tags:
        - Bookkeeping
      summary: Get one voucher by voucher id. 
      parameters:
      - name: cuid
        in: path
        description: Fivaldi company id
        required: true
        schema:
          type: string
      - name: voucherNumber
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchVoucherResponse'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/Conflict'
        429:
          $ref: '#/components/responses/RateLimit'
  /companies/{cuid}/bookkeeping/accountBalance:
    get:
      tags:
        - Bookkeeping
      summary: Get a list of account balances, credit and debit sums.
      parameters:
      - name: cuid
        in: path
        description: Fivaldi company id
        required: true
        schema:
          type: string
      - name: month
        in: query
        description: Fetches accounts data for this month in yyyy/mm format.
        required: true
        schema:
          type: integer
      - name: minAccount
        in: query
        description: Fetches accounts data having account number greater or same than minAccount.
        required: false
        schema:
          type: string
      - name: maxAccount
        in: query
        description: Fetches accounts data having account number smaller or same than maxAccount.
        required: false
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBalance'
        429:
          $ref: '#/components/responses/RateLimit'
  /companies/{cuid}/bookkeeping/budget:
    get:
      tags:
        - Bookkeeping
      summary: Get a list of company budgets for a fiscal year.
      parameters:
      - name: cuid
        in: path
        description: Fivaldi company id
        required: true
        schema:
          type: string
      - name: fiscalYearId
        in: query
        description: Budgets to be fetched for this fiscal year id.
        required: true
        schema:
          type: integer
          nullable: false
          minimum: 1950
          exclusiveMinimum: true
          maximum: 2100
          exclusiveMaximum: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExternalBudgetResponseDTO'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/Conflict'
        429:
          $ref: '#/components/responses/RateLimit'
    post:
      tags:
        - Bookkeeping
      summary: Budget to be imported. FiscalYearId needs to exist for the company, bookkeepingPeriod needs to be on that fiscalYearId.
      parameters:
      - name: cuid
        in: path
        description: Fivaldi company id
        required: true
        schema:
          type: string
      requestBody:
        description: Budget to be imported
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalBudgetRequestDTO'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalBudgetResponseDTO'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/Conflict'
        429:
          $ref: '#/components/responses/RateLimit'
  /companies/{cuid}/chart-of-accounts:
    get:
      tags:
      - Chart of accounts and dimensions
      summary: Get all bookkeeping accounts
      parameters:
      - name: cuid
        in: path
        description: Fivaldi company id
        required: true
        schema:
          type: integer
      - name: dimension
        in: query
        description: Account dimension, defaults to 0
        schema:
          type: string
          enum:
          - all
          - 0 (default. accounts)
          - 1 (customer defined dimension)
          - 2 (customer defined dimension)
          - 3 (customer defined dimension)
          - 4 (customer defined dimension)
      - name: lang
        in: query
        description: Language code, defaults to FIN
        required: false
        schema:
          type: string
          enum:
          - FIN
          - SWE
          - ENG
      - name: inUseBookkeeping
        in: query
        description: Return accounts and dimensions used in bookkeeping
        required: false
        schema:
          type: boolean
      - name: inUseEstate
        in: query
        description: Return accounts and dimensions used in estate
        required: false
        schema:
          type: boolean
      - name: inUsePurchases
        in: query
        description: Return accounts and dimensions used in purchases
        required: false
        schema:
          type: boolean
      - name: inUseSalaries
        in: query
        description: Return accounts and dimensions used in salaries
        required: false
        schema:
          type: boolean
      - name: inUseSales
        in: query
        description: Return accounts and dimensions used in sales
        required: false
        schema:
          type: boolean
      - name: fields
        in: query
        description: Filter fields of the response objects, only ones provided will
          be included
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartOfAccounts'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        429:
          $ref: '#/components/responses/RateLimit'
  /companies/{cuid}/chart-of-accounts/dimensions:
    post:
      tags:
      - Chart of accounts and dimensions
      summary: Add accounts for a single dimension
      parameters:
      - name: cuid
        in: path
        description: Fivaldi company id
        required: true
        schema:
          type: integer
      - name: dimension
        in: query
        description: Dimension
        required: true
        schema:
          type: string
          enum:
          - 1 (customer defined dimension)
          - 2 (customer defined dimension)
          - 3 (customer defined dimension)
          - 4 (customer defined dimension)
      requestBody:
        description: Dimensions to be imported
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ExternalAccountInformationDTO'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccountInformationDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        429:
          $ref: '#/components/responses/RateLimit'
  /companies/{cuid}/archive/files/{fileId}:
    get:
      tags:
      - Archive
      summary: Get download url for a file
      parameters:
      - name: cuid
        in: path
        description: Fivaldi company id
        required: true
        schema:
          type: integer
      - name: fileId
        in: path
        description: Archive file id
        required: true
        schema:
          type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimit'
  /companies/{cuid}/sales/company-invoicing-details:
    get:
      tags:
      - Sales orders
      summary: Get Fivaldi Company invoicing details
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimit'
  /companies/{cuid}/sales/sales-orders/batch/{externalBatchId}:
    get:
      tags:
      - Sales orders
      summary: Get sales orders from batch
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: externalBatchId
          in: path
          description: Unique external batch id
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesOrderDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimit'
  /companies/{cuid}/sales/sales-orders:
    get:
      tags:
      - Sales orders
      summary: Get sales orders
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: fromDate
          in: query
          description: Limit results with created at date (dd.mm.yyyy)
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Limit results with status DRAFT | INVOICED
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesOrderDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimit'
  /companies/{cuid}/sales/sales-order/{id}:
    get:
      tags:
      - Sales orders
      summary: Get unique sales order
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: sales order id
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimit'
    put:
      tags:
      - Sales orders
      summary: Update unique sales order. Sums to order will be calculated eihter based on Row total sum with tax or unit price excluding tax. Only one of those can be given on row details.
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: sales order id
          required: true
          schema:
            type: string
      requestBody:
        description: Sales order to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderDTO'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimit'

  /companies/{cuid}/sales/sales-order:
    post:
      tags:
        - Sales orders
      summary: Create sales order. Sums to order will be calculated eihter based on Row total sum with tax or unit price excluding tax. Only one of those can be given on row details.
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
      requestBody:
        description: Sales order to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderDTO'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimit'
  /companies/{cuid}/sales/multiple-sales-orders:
    post:
      tags:
        - Sales orders
      summary: Create multiple sales orders with one batch. Sums to order will be calculated eihter based on Row total sum with tax or unit price excluding tax. Only one of those can be given on row details.
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
      requestBody:
        description: List of sales orders to be created on this batch
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SalesOrderDTO'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimit'
  '/companies/{cuid}/customers/getCustomerRegisterBasicDetails':
    get:
      tags:
        - Customer register
      summary: Fivaldi Company's basic details for using correct id values on customer
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: Filter fields of the response objects, only ones provided will be included on response
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        429:
          $ref: '#/components/responses/RateLimit'
  '/companies/{cuid}/customers':
    get:
      tags:
        - Customer register
      summary: Get list of Fivaldi company's customers
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: searchWord
          in: query
          description: Limit results with search word
          required: false
          schema:
            type: string
        - name: fromDate
          in: query
          description: Limit results with changed at date is given date or newer (dd.mm.yyyy)
          required: false
          schema:
            type: string
        - name: fields
          in: query
          description: Filter fields of the response objects, only ones provided will be included on response
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerEntityDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        429:
          $ref: '#/components/responses/RateLimit'
  '/companies/{cuid}/customers/{id}':
    get:
      tags:
        - Customer register
      summary: Get Fivaldi company's unique customer with all details from register
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: Customer id of customer from register
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: Filter fields of the response objects, only ones provided will be included on response
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerEntityDetailsDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        429:
          $ref: '#/components/responses/RateLimit'
  '/companies/{cuid}/customers/createCustomer':
    post:
      tags:
        - Customer register
      summary: Create Customer with addresses and bank accounts
      description: Customer id is set by Fivaldi as next available customer number.
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
      requestBody:
        description: Customer to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerEntityDetailsDTO'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerEntityDetailsDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimit'
  '/companies/{cuid}/customers/{id}/updateCustomerAllFields':
    post:
      tags:
        - Customer register
      summary: Update existing Customer details
      description: Update existing Customer details. Addresses and bank accounts will not be updated (they have own endpoints).
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: Customer id
          required: true
          schema:
            type: string
      requestBody:
        description: Customer to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerEntityDetailsDTO'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerEntityDetailsDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimit'
  '/companies/{cuid}/customers/{id}/updateCustomer':
    post:
      tags:
        - Customer register
      summary: Update existing Customer details with given fields
      description: Update existing Customer details only with given fields. Addresses and bank accounts will not be updated (they have own endpoints).
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: Customer id
          required: true
          schema:
            type: string
      requestBody:
        description: Customer to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerEntityDetailsDTO'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerEntityDetailsDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimit'
  '/companies/{cuid}/customers/{id}/createAddress':
    post:
      tags:
        - Customer register
      summary: Create new address for existing Customer
      description: Creates a new address for existing customer. Address id will be created by Fivaldi. If address is marked as main address, existing main address will be set as not main address.
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: Customer id
          required: true
          schema:
            type: string
      requestBody:
        description: Customer address to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerEntityAddressDTO'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerEntityAddressDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimit'
  '/companies/{cuid}/customers/{id}/address/{address-id}/updateAddressAllFields':
    post:
      tags:
        - Customer register
      summary: Update existing address for existing Customer
      description: Updates address for existing customer. Address id that is updated will be taken from url. If address is marked as main address, existing main address will be set as not main address.
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: Customer id
          required: true
          schema:
            type: string
        - name: address-id
          in: path
          description: Address id
          required: true
          schema:
            type: string
      requestBody:
        description: Customer address to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerEntityAddressDTO'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerEntityAddressDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimit'

  '/companies/{cuid}/customers/{id}/createBankAccount':
    post:
      tags:
        - Customer register
      summary: Create new bank account for existing Customer
      description: Creates a new bank account for existing customer. Bank account id will be created by Fivaldi. If iban is given, bban and swift will be set based on IBAN. If IBAN is not given, IBAN and swift will be set based on bban. 
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: Customer id
          required: true
          schema:
            type: string
      requestBody:
        description: Customer bank account to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerEntityBankAccountDTO'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerEntityBankAccountDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimit'
  '/companies/{cuid}/customers/{id}/bank-account/{account-id}/updateBankAccountAllFields':
    post:
      tags:
        - Customer register
      summary: Update existing bank account for existing Customer
      description: Updates bank account for existing customer. Bank account id that is updated will be taken from url. If iban is given, bban and swift will be set based on IBAN. If IBAN is not given, IBAN and swift will be set based on bban. 
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: Customer id
          required: true
          schema:
            type: string
        - name: account-id
          in: path
          description: Bank account id
          required: true
          schema:
            type: string
      requestBody:
        description: Customer bank account to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerEntityBankAccountDTO'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerEntityBankAccountDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimit'
  '/companies/{cuid}/products/getProductRegisterBasicDetails':
    get:
      tags:
        - Product register
      summary: Fivaldi Company's basic details for using correct id values on product
      description: Endpoint returns list of id values and descriptions for product groups, units, posting groups and posting codes
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: Filter fields of the response objects, only ones provided will be included on response
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        429:
          $ref: '#/components/responses/RateLimit'
  '/companies/{cuid}/products':
    get:
      tags:
        - Product register
      summary: Get Fivaldi company's product register
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: searchWord
          in: query
          description: Limit results with search word
          required: false
          schema:
            type: string
        - name: fromDate
          in: query
          description: Limit results with changed at date is given date or newer (dd.mm.yyyy)
          required: false
          schema:
            type: string
        - name: fields
          in: query
          description: Filter fields of the response objects, only ones provided will be included on response
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductEntityDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        429:
          $ref: '#/components/responses/RateLimit'
  '/companies/{cuid}/products/{id}':
    get:
      tags:
        - Product register
      summary: (Deprecated) Get Fivaldi Company's unique product with all details from register
      description: Endpoint returns complete product details, product descriptions with languages, product postings
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: Product code of product from register
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: Filter fields of the response objects, only ones provided will be included on response
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductEntityDetailsDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        429:
          $ref: '#/components/responses/RateLimit'

  '/companies/{cuid}/products/getProduct':
    get:
      tags:
        - Product register
      summary: Get Fivaldi Company's unique product with all details from register
      description: Endpoint returns complete product details, product descriptions with languages, product postings
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: productCode
          in: query
          description: Product code of product from register encoded format (supports special characters on productCode). Max length 20
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: Filter fields of the response objects, only ones provided will be included on response
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductEntityDetailsDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        429:
          $ref: '#/components/responses/RateLimit'


  '/companies/{cuid}/products/createProduct':
    post:
      tags:
        - Product register
      summary: Create Product with descriptions and postings
      description: If descriptions is not given, Fivaldi will create one description with Company's language. Fivaldi will set missing posting groups to product that are not given.
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
      requestBody:
        description: Product to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductEntityDetailsDTO'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductEntityDetailsDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimit'
  '/companies/{cuid}/products/updateProductAllFields':
    post:
      tags:
        - Product register
      summary: Update Product details
      description: Update existing product details. Descriptions and accountings will not be updated even if they exist on request body. They have their own endpoints. ProductEntityDetailsDTO's productCode (product that will be updated) must exist on Company product register
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
      requestBody:
        description: Product to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductEntityDetailsDTO'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductEntityDetailsDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimit'
  '/companies/{cuid}/products/updateProduct':
    post:
      tags:
        - Product register
      summary: Update Product details with given fields
      description: Update existing product details only with given fields, also null values will be updated. Descriptions and accountings will not be updated. They have their own endpoints. Query parameter productCode (product that will be updated) must exist on Company product register
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: productCode
          in: query
          description: Product code where to update given fields
          required: true
          schema:
            type: string
      requestBody:
        description: Product fields to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductEntityDetailsDTO'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductEntityDetailsDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimit'
  '/companies/{cuid}/products/createProductDescription':
    post:
      tags:
        - Product register
      summary: Create Product description to existing product
      description: Creates new description to product with given language. Description on product with given language must not exist. Product code will be given on query parameter. Language code must exist on ProductEntityDescriptionDTO - object (description will be added with that language).
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: productCode
          in: query
          description: Product code where to add new description with given language
          required: true
          schema:
            type: string
      requestBody:
        description: Product description to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductEntityDescriptionDTO'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductEntityDescriptionDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimit'
  '/companies/{cuid}/products/updateProductDescriptionAllFields':
    post:
      tags:
        - Product register
      summary: Update Product description to existing products existing description
      description: Updates description to product with given language. Description on product with given language must exist. Product code will be given on query parameter. Language code must exist on ProductEntityDescriptionDTO - object (description with that language will be updated).
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: productCode
          in: query
          description: Product code where to update existing description with given language
          required: true
          schema:
            type: string
      requestBody:
        description: Product description to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductEntityDescriptionDTO'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductEntityDescriptionDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimit'
  '/companies/{cuid}/products/updateProductPostingAllFields':
    post:
      tags:
        - Product register
      summary: Update Product posting to existing products existing posting
      description: Updates posting to product with given posting group. Posting group with given posting group id must exist. Product code will be given on query parameter. Posting group id must exist on ProductEntityPostingDTO - object.
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: productCode
          in: query
          description: Product code where to update existing posting with given posting group
          required: true
          schema:
            type: string
      requestBody:
        description: Product posting to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductEntityPostingDTO'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductEntityPostingDTO'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimit'
  '/companies/{cuid}/estate-person/persons':        
    get:
      tags:
        - Estate person
      summary: Get list of Fivaldi estate persons
      description: Returns all persons for a Fivaldi company or all persons whose data has been changed if changedAfter-parameter has been used. This endpoint also returns persons who have non-disclosure for personal safety reasons (securityRestriction (Turvakielto)) activated in Fivaldi person register.
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: changedAfter
          in: query
          description: Only returns persons that has been changed at this date or after this date. Format dd.MM.yyyy
          required: false
          schema:
            type: string
            format: date
      responses:
        200:
          description: OK
        400:
          description: Bad Request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        429:
          $ref: '#/components/responses/RateLimit'
        default:
          description: Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/GeneralResponseEnvelope'
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          $ref: '#/components/schemas/ExternalEstatePersonResponseDTO'
  '/companies/{cuid}/estate-person/persons/{id}':
    get:
      tags:
        - Estate person
      summary: Get Fivaldi estate person
      description: Returns person's all information. This endpoint also returns addresses for persons who have non-disclosure for personal safety reasons (securityRestriction (Turvakielto)) activated in Fivaldi person register.
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: Person id
          required: true
          schema:
            type: integer
      responses:
        200:
          description: OK
        400:
          description: Bad Request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        429:
          $ref: '#/components/responses/RateLimit'
        default:
          description: Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/GeneralResponseEnvelope'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/ExternalEstatePersonDetailsResponseDTO'
  '/companies/{cuid}/estate-person/persons/createPerson':
    post:
      tags:
        - Estate person
      summary: Create estate person
      description: Create a new person to the Fivaldi estate person registry.
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
      requestBody:
        description: Estate person to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalEstatePersonDetailsRequestDTO'
      responses:
        200:
          description: OK
        400:
          description: Bad Request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        429:
          $ref: '#/components/responses/RateLimit'
        default:
          description: Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/GeneralResponseEnvelope'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/ExternalEstatePersonDetailsResponseDTO'
  '/companies/{cuid}/estate-person/persons/{id}/addAddress':
    post:
      tags:
        - Estate person
      summary: Add address for a estate person
      description: Add a new address for a person in the Fivaldi person register.
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: Person id
          required: true
          schema:
            type: integer
      requestBody:
        description: Address to be added to estate person
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalAddressRequestDTO'
      responses:
        200:
          description: OK
        400:
          description: Bad Request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        429:
          $ref: '#/components/responses/RateLimit'
        default:
          description: Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/GeneralResponseEnvelope'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/ExternalAddressResponseDTO'
  '/companies/{cuid}/estate-person/persons/{id}/addPersonRole':
    post:
      tags:
        - Estate person
      summary: Add person role for a estate person
      description: Add a person role for a person in the Fivaldi person register. Person role is typically used for indicating if a person is a member of board in an apartment housing company. List of Fivaldi person roles that can be assigned to a person can be found by using endpoint <GET
        /companies/{cuid}/estate-person/getCompanyPersonRolesInUse>
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: Person id
          required: true
          schema:
            type: integer
      requestBody:
        description: Person role to be added to estate person
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalPersonRoleRequestDTO'
      responses:
        200:
          description: OK
        400:
          description: Bad Request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        429:
          $ref: '#/components/responses/RateLimit'
        default:
          description: Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/GeneralResponseEnvelope'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/ExternalPersonRoleResponseDTO'
  '/companies/{cuid}/estate-person/persons/{id}/addEInvoiceInformation':
    post:
      tags:
        - Estate person
      summary: Add einvoice information for a estate person
      description: Add e-invoice information for a person in the Fivaldi person register. Parameter “directDebit” stands for “Suoramaksu”. “Suoramaksu” is used when you don’t have a netbank and
        you want to have paper invoices.
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: Person id
          required: true
          schema:
            type: integer
      requestBody:
        description: Einvoice information to be added to estate person
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalEInvoiceAddressRequestDTO'
      responses:
        200:
          description: OK
        400:
          description: Bad Request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        429:
          $ref: '#/components/responses/RateLimit'
        default:
          description: Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/GeneralResponseEnvelope'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/ExternalEInvoiceAddressResponseDTO'
  '/companies/{cuid}/estate-person/persons/{id}/updatePersonAllFields':
    post:
      tags:
        - Estate person
      summary: Update estate person
      description: Update person details for a Fivaldi person register.
      parameters:
        - name: cuid
          in: path
          description: Fivaldi company id
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: Person id
          required: true
          schema:
            type: integer
      requestBody:
        description: Estate person to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalEstatePersonRequestDTO'
      responses:
        200:
          description: OK
        400:
          description: Bad Request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        429:
          $ref: '#/components/responses/RateLimit'
        default:
          description: Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/GeneralResponseEnvelope'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/ExternalEstatePersonResponseDTO'
  '/companies/{cuid}/estate-person/persons/{id}/address/{addressId}/updateAddressAllFields':
    post:
      tags:
        - Estate person
      summary: Update address for a estate person
[...]
